/.venv
/testing/.env
/components/__pycache__
/components/audio_recorder/__pycache__
/components/doc_pipeline/__pycache__
/components/gap_analyzer/__pycache__
/components/qna_judge/__pycache__
/components/question_generator/__pycache__
/components/select_llm/__pycache__
/components/transcripter_api/__pycache__
/components/sTT_model/__pycache__
/components/audio_gen/__pycache__
/.cache
/qwen2.5-0.5b-instruct-q8_0.gguf
/testing/audio_chunks
/testing/merged_output.mp3
/components/transcript_gen/__pycache__
/usage/.env
/user_interface/.env