ipykernel
sounddevice
numpy
pydub
transformers
torch
ipywidgets
librosa
langchain
langchain-core
langchain-huggingface
langchain-ollama
langchain-google-genai
docling
pandas
optimum
huggingface_hub
llama-cpp-python 
langchain-community
gTTS
kokoro
soundfile