ipykernel
sounddevice==0.4.6
pyaudio==0.2.13
numpy
pydub
transformers
torch
ipywidgets
librosa
langchain
langchain-core
langchain-huggingface
langchain-ollama
langchain-google-genai
langchain-nvidia-ai-endpoints
docling
pandas
optimum
huggingface_hub 
langchain-community
kokoro
soundfile
streamlit
